.h1{
	color: aqua;
}

.span{
	color: green;
}

.box{
	width: 100px;
	height: 500px;
}

.blue{
	width: 100px;
	height: 100px;
	background-color: red;
	border: 2px solid green;
}

.pink{
	width: 100px;
	height: 100px;
	background-color: pink;
	
}

.frame{
	width: 50%;
	height: 500px;
}
